<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ECharts</title>
    <!-- Custom styles for this template -->
    <link href="../static/css/dashboard.css" th:href="@{css/dashboard.css}" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">

    <!-- Custom styles for this template -->
    <link th:href="@{css/headers.css}" rel="stylesheet">
    <!--设置ico图标-->
    <link rel="shortcut icon" th:href="@{image/奶牛.ico}">


    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.1/dist/echarts.min.js"></script>
</head>
<body>

<nav th:replace="index::nav"></nav>

<div class="container-fluid">
    <div class="row">
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
            <div id="main" style="width: 1000px;height:600px;"></div>

            <h2>Section title</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">编号</th>
                        <th scope="col">Header</th>
                        <th scope="col">Header</th>
                        <th scope="col">Header</th>
                        <th scope="col">Header</th>
                    </tr>
                    </thead>
                    <tbody th:each="ear_tag : ${ear_tags}">
                    <tr>
                        <td th:text="${ear_tag.id}">1,001</td>
                        <td th:text="${ear_tag.temp}">random</td>
                        <td >data</td>
                        <td>placeholder</td>
                        <td>text</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>


<footer th:replace="index::footer"></footer>
</body>
<script>
    // function ajax(option) {
    //     //创建ajax对象
    //     var xhr = new XMLHttpRequest();
    //     xhr.open(option.type,option.url);
    //     xhr.send();
    //     xhr.onload = function () {
    //         option.success(xhr.responseText);
    //     }
    // }
    // ajax({
    //     type: 'get',
    //     url: '/temp',
    //     success: function (data) {
    //         console.log(data);
    //         console.log(typeof data);
    //         var responseText = JSON.parse(data);
    //         console.log(responseText);
    //     }
    // })


</script>

<script type="text/javascript">
    const data = [];
    for (let i = 0; i < 20; ++i) {
        data.push(Math.round((38.5 + Math.random())*10)/10 );
    }

    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));



    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '温度一览图'
        },
        tooltip: {},
        legend: {
            data: ['温度']
        },
        xAxis: {
            data: ['1', '2', '3', '4', '5', '6','7','8','9','10','11','12','13','14','15','16','17','18','19','20']
        },
        yAxis: {
            max: 40,
            min: 38,
            splitNumber: 5,
            axisLabel: {
                formatter: '{value} ℃',
                align: 'center'
            }
        },
        series: [
            {
                name: '温度',
                type: 'bar',
                data: data,
                color: '#0ae736'
            }
        ],
        itemStyle: {
            barBorderRadius: 5,   //柱条圆角的半径
            borderWidth: 1,       //宽度
            borderType: 'solid',  //样式
            borderColor: '#da0841',  //柱条的描边颜色
            shadowColor: 'rgb(239,68,15)',  //阴影颜色
            shadowBlur: 3,   //阴影
            color: '#d00707'
        }

    };
    //变换值
    function run() {
        for (var i = 0; i < data.length; ++i) {
            data[i] = Math.round((38.5 + Math.random())*10)/10;
            if (data[i] < 38.5 || data[i] > 39.5) {
                warn(data[i]);
            }
        }
    }
    //警告颜色
    function warn(data) {
        data = {
            value: data,
            // 设置单个柱子的样式
            itemStyle: {
                color: '#f80404',
                shadowColor: '#ee0303',
                borderType: 'dashed',
                opacity: 0.5
            }
        }
        return data;
    }

    function runwarn(){
        for (var i = 0; i < data.length; ++i) {
            data[i] = Math.round((38.5 + Math.random())*10)/10;
        }
        var x = Math.round(Math.random()*20);
        data[x] = 40;
        data[x] = warn( data[x] );
    }
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);

    setTimeout(function () {
        run();
        myChart.setOption(option);
    }, 2000);

    setInterval(function () {
        run();
        myChart.setOption(option);
    }, 1000);

    setInterval(function () {
        runwarn();
        myChart.setOption(option);
    }, 5000);

</script>
</html>












































